/* BRAND COLOUR: #d94f4f */
/* 00dp: #221717
/* 01dp: #2d2323 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=fallback');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #ddd;
}

html {
  color: #000000;
  font-family: 'DIN', 'Nunito Sans', sans-serif;
}

body {
  background: #ffffff; /*#160808*/
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 76px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  font-size: 14px;
  letter-spacing: 0.05rem;
  background-color: black;

  padding-left: 40px;
  padding-right: 40px;
}

.nav-logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  user-select: none;
}

nav ul {
  list-style: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  padding: 3rem;
  width: 380px;
  background-color: #fbf7f6;
  border: 1px solid black;
}

.card p {
  font-size: 0.75rem;
}

.card h2 {
  font-weight: normal;
  margin-bottom: 3rem;
}

.card a {
  font-size: 0.75rem;
  transition: color 0.3s;
}

.card a:hover, .card a:focus {
  outline: none;
  color: #666666;
}

.card .error {
  color: red;
  font-size: 0.75rem;
}

/* Cloze -------------- */

.cloze {
  min-width: 460px;
  max-width: 700px;
  width: 70%;
}

#primaryContainer {
  background-color: #fbf7f6;
  padding: 80px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

#secondaryContainer {
  display: flex;
  width: 100%;
  height: 64px;
  border: 1px solid black;
  border-top: 0;
}

#recordButton {
  width: 30%;
  max-width: 196px;
  font-size: 22px;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

#inputDisplay {
  width: calc(100% - min(196px, 30%) - (64px * 2));
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #766f6f;
}

#speakButton {
  border-top: none;
  border-right: none;
}

#nextButton {
  border-top: none;
  border-right: none;
}

.targetPhrase {
  font-size: 2.2rem;
  margin-bottom: 2.6rem;
  color: #766f6f;
}

.targetPhrase span {
  transition: color 0.2s;
}

.clozeWord {
  color:#fbf7f6;
  box-shadow: 
    inset 0 -1px #fbf7f6,
    inset 0 -3px #766f6f;
  user-select: none;
}

#clozeUnderline {
  height: calc(100% - 1px); /* Underline offset */
  width: calc(100% + 2px);
  top: 0;
  left: -1px;
  position: absolute;
  border-bottom: 2px solid #766f6f;
}

.spoken {
  color: #766f6f;
}

.correct {
  color: black;
}

.complete span {
  color: #77e77c;
}

.incomplete span {
  color: #d94f4f; /*#a33b3b;*/
}

.nativePhrase { 
  font-size: 1rem;
}

.targetWord {
  color: #d94f4f;
}

/* INPUT STUFF */

.field-group {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
  width: 100%
}

.field-group input {
  width: 100%;
  padding-bottom: 4px;

  background: none;
  border: none;
  border-bottom: 1px solid #888;
  transition: border-bottom 0.3s ease-out;

  font-family: 'DIN', sans-serif;
  font-size: 1rem;
}

.field-group input:focus {
  outline: none;
}

.field-failure input,
.field-failure input:focus {
  border-bottom: 2px solid red;
}

.field-group label {
  position: absolute;
  top: 0.1rem;
  left: 0px;

  font-family: 'DIN', sans-serif;
  font-size: 1rem;
  color: #888;

  pointer-events: none;
  transition: all 0.2s;
}

/*.field-group input:focus + label,*/
.field-group input:not(:placeholder-shown) + label {
  top: -16px;
  font-size: 0.6rem;
}

.field-failure input:not(:placeholder-shown) + label {
   color: red;
}

/* BUTTONS */

.button {
  padding: 0.8rem;

  font-family: 'DIN', 'Nunito Sans', sans-serif;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;

  border: 1px solid black;

  cursor: pointer;
  transition: background-color 0.2s;
}

.button img { /* For icons */
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.icon {
  position: relative;
  height: 64px;
  width: 64px;
}

.green {
  background-color: #77efa7;
  color: #221717;
}

.green:hover, .green:focus {
  background-color: #6bd696;
}

.yellow {
  background-color: #fff792;
}

.yellow:hover, .yellow:focus {
  background-color: #e7e183;
}

.blue {
  background-color: #b0f3f9;
}

.blue:hover, .blue:focus {
  background-color: #9fdde2;
}

.orange {
  background-color: #f8be66;
}

.orange:hover, .orange:focus {
  background-color: #e4ae5d;
}